html, body{
	font-size: 14;
	line-height: 1.2;
	margin: 0;
	padding: 0;
}
body{
	background-color: #000000;
}
.container{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}
/* Content styles start */
.content{
	padding: 85px 0 60px;
}
.content-table{
	overflow-x: auto;
	min-width: 900px;
}
.content h1{
	font-family: 'Roboto';
	font-weight: 900;
	font-size: 50px;
	line-height: 100.32%;
	text-align: center;
	text-transform: capitalize;
	color: #FFFFFF;
	margin: 0 0 55px;
}
@media(min-width:768px){
	.content h1{
		font-size: 60px
	}
}
@media(min-width:992px){
	.content h1{
		font-size: 80px
	}
}
.content table{
	width: 100%;
}
.content table tr, .content table td{
	padding: 30px 15px;
	border: 15px solid;
}
.content table td{
	width: 100%;
	height: auto;
	background-color: #121212;
	position: relative;
	max-width: calc(100% / 3);
}
.content table td:before{
	content: "";
	position: absolute;
	z-index: 2;
	left: 0; top: 0;
	width: 100%; height: 100%;
	background: rgba(18, 18, 18, 0);
	transition: .5s ease;
}
.content table td:hover:before{
	background: rgba(18, 18, 18, 0.8);
}
.content table td:hover .btn{
	opacity: 1;
}
.content td h2{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 18px;
	line-height: 100.32%;
	text-transform: uppercase;
	color: #FFFFFF;
	text-align: left;
	margin: 0 0 30px;
}
@media(min-width:992px){
	.content td h2{
		font-size: 22px;
	}
}
.content td p{
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 14px;
	line-height: 19px;
	text-transform: capitalize;
	color: #FFFFFF;
	text-align: left;
	margin: 0 0 30px;
}
@media(min-width:992px){
	.content td p{
		font-size: 16px
	}
}
.content td img{
	display: block;
	width: 100%;
}
.content td .btn{
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	text-decoration: none;
	border-radius: 16px;
	background-color: #FFFFFF;
	width: 160px;
	height: 50px;
	line-height: 50px;
	text-align: center;
	font-family: 'Roboto';
	font-weight: 400;
	font-size: 19px;
	color: #121212;
	opacity: 0;
	transition: .5 ease;
	z-index: 2;
}
.content td .btn:hover{
	background-color: #000000;
	color: #FFFFFF;
}
